{% extends "base.html" %}
{% block title %} reset-password {% endblock %}

{% block content %}

<div class="auth-container">
    <div class="auth-card">
        <h2>Reset Password</h2>
        <form method="POST">
            <input type="password" name="new_password" placeholder="Enter a New Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <button type="submit">Change</button>
        </form>
    </div>
</div>

{% endblock %}